body {
    background: #000;
    color: #fff;

    padding: 10px;
}

.title-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    text-align: center;
}

.title {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    background: linear-gradient(90deg, #555, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.timeline {
    margin: 0 0 10px 0;
}

.timeline__label {
    font-size: 12px;
    color: #ccc;
}

.timeline__colors {
    width: auto;
    line-height: 0;
    font-size: 0;
    border: 2px solid rgba(255,255,255,0.1);
}

.timeline__color {
    display: inline-block;
    width: 1px;
    height: 50px;
}

.progress {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: right;
}

.demo {
    text-align: center;
}

.radial-demo,
.conic-demo {
    display: inline-block;
    width: 48vw;
    height: 48vw;
    margin-right: 10px;
}

video {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    max-width: 400px;
}

.movie-selector {
    margin-top: 50px;
    margin-bottom: 10px;
}
